<section class="footer">
    <div class="footer-widget container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget">
                    <div class="widget-body">
                        <img src="../images/poolkaaa.png" alt="poolka" width="150" height="30">
                        <div>
                            <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show
                                Location</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget">
                    <h2>contact</h2>
                    <div class="widget-body">
                        <ul class="get-touch">
                            <li><i class="fa fa-mobile"></i> +234 111 1111 111</li>
                            <li><i class="fa fa-envelope"></i> TobiSheriff@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>