<% layout('layouts/boilerplate')%>

<!-- <div id="userLocator"></div>
<button id="clickMe">click</button> -->
<section id="info" class="container">
  <div class="info-inner-container">
    <div class="welcome-message">
      <h1>POOLKA</h1>
      <p>WELCOME [user name] <br> Please create your profile</p>
    </div>
  </div>
</section>