<% layout('layouts/boilerplate')%>

<!-- <div id="userLocator"></div>
<button id="clickMe">click</button> -->

<section id="info" class="container">
  <%  if( currentUser && currentUser.role === undefined)  { %>
    <div class="info-inner-container">
      <div class="welcome-message">
        <h1>POOLKA</h1>
        <p>WELCOME <%= currentUser.username %></p>
        <a href="/users/profile/<%= currentUser._id %>">Create Profile To Continue</a>
      </div>
    </div>
  <% } else if( currentUser && currentUser.role == 'staff')  { %>
    <div class="info-inner-container">
      <div class="welcome-message">
        <h1>POOLKA</h1>
        <p>
          WELCOME <%= currentUser.username %>
          <br> WHERE DO YOU WANT TO GO TODAY?
        </p>
      </div>

      <form class="form-box" id="address-form" action="/pages/show" method="GET" autocomplete="off">
        <label class="full-field">
          <!-- Avoid the word "address" in id, name, or label text to avoid browser autofill from conflicting with Place Autocomplete. Star or comment bug https://crbug.com/587466 to request Chromium to honor autocomplete="off" attribute. -->
          <span class="form-label">Your Location</span>
          <input
            id="autocomplete-location"
            name="location"
            required
            autocomplete="off"
          />
        </label>
        <label class="full-field">
          <!-- Avoid the word "address" in id, name, or label text to avoid browser autofill from conflicting with Place Autocomplete. Star or comment bug https://crbug.com/587466 to request Chromium to honor autocomplete="off" attribute. -->
          <span class="form-label">Your Destination</span>
          <input
            id="autocomplete-destination"
            name="destination"
            required
            autocomplete="off"
          />
        </label>
        <!-- <input type="reset" value="Clear form" /> -->
        <button class="my-button">Request Ride</button>
      </form>
    </div>

  <% } else if( currentUser && (profile.role === 'admin'))  { %>
      <div class="info-inner-container">
        <div class="welcome-message">
          <h1>POOLKA</h1>
          <p>WELCOME <%= currentUser.username %></p>
          <form action="/users/profile" method="GET" class="form-box">
            <button class="my-button">Create Profile to continue</button>
          </form> 
        </div>
      </div>
  <% } %>
</section>