<% layout('layouts/boilerplate')%>

<!-- <form action="/pages" method="POST">
    <input type="text" placeholder="Film Name" name="name">
    <input type="text" placeholder="IMDB ID" name="id">
    <button>Submit</button>
</form> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Places Autocomplete</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places"></script>
</head>
<body> -->
    <!-- <form action="places-proxy" method="get"> -->
        <input type="text" id="locationInput" name="input" placeholder="Enter location...">
        <!-- <button>submit</button> -->
    <!-- </form> -->
    <!-- <script>
        function initAutocomplete() {
            const autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('locationInput'),
                { types: ['geocode'] }
            );
        }
        window.onload = initAutocomplete;
    </script> -->
<!-- </body>
</html> -->
