<% layout('layouts/boilerplate')%>

<div class="container-show">
    <h3>Thank You Your Request has been sent</h3>
    <div class="user-address">
        <p class="">Location: <span><%= location %></span></p>
        <p class="">Destination: <span><%= destination %></span></p>
    </div>
</div>